Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.log
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
missing
mkinstalldirs
po/
src/Makefile.in
